/* #hello-auto {
  font-size: 3rem;
  background-color: red;
} */

/* .hello-btn {
  background-color: blueviolet;
  font-size: 3rem;
  font-style: italic;
}

.hello-btn2 {
  background-color: yellow;
  font-size: 3rem;
  font-style: italic;
}

.hello-btn3 {
  background-color: blue;
  font-size: 3rem;
  font-style: italic;
} */
